* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div {
    font-family: 'Yantramanav', 'Montserrat', sans-serif;
    height: 100%;
}

body {
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
}

.page {
    padding-top: 7%;
}

/*
* FIRST PAGE
*/

.container {
    height: 100%;
    background-image: url(../assets/jumbotron.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu-links {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 1.5em;
}
.logo h1 {
    font-weight: 200;
    border: 1px solid white;
    padding: 2px 10px;
}

.logo {
    float: left;
    padding: 1em;
    color: white;
}

.menu-links a,
.menu-link a:visited {
    text-decoration: none;
    padding-right: 1em;
    color: white;
}

.menu-links a:hover {
    text-shadow: 3px 3px 2px rgba(2, 2, 2, 0.66);
    font-weight: 300;
}

.content {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    color: white;
    padding-left: 2em;
    font-size: 150%;
}

.content h1 {
    grid-row: 4 / span 1;
    font-weight: 300;
    font-size: 4em;
}

.content h2 {
    font-weight: 100;
    grid-row: 5 / span 2;
}

/*
* CARTE
*/

.page-menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 90vh;
    color: black;
    font-size: 150%;
    grid-gap: 1em;
    margin: 1em;
}
.box h3 {
    font-weight: 300;
    margin: 20px;
    font-size: 1.5em;
}

.box td {
    font-weight: 100;
    font-size: 0.8em;
}
table{
    width: 100%;
    margin: auto;
}
.menu-bieres {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

}

.menu-softs {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.menu-alcools {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.menu-snacks {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.box {
    text-align: center;
    padding: 0.5em;
    background-color: rgba(234, 234, 234, 1);
    justify-content: center;
    
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.grille-menu {
    margin: auto;
}

.grille-menu td {

    text-align: left;
    padding: 0.1em;
}

/*
* GALLERY PAGE
*/

.page-photo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 60vh;
    color: black;
    background-color: white;
    font-size: 150%;
    margin-bottom: 1em;
}

.gallery {
    width: 100%;
    opacity: 0.85;
}

.gallery:hover {
    opacity: 1;
}

.first-gallery {
    background-image: url(../assets/gallery1.jpg);
    grid-column: 1 / span 1;
    background-size: cover;
    background-position: center;
}

.second-gallery {
    background-image: url(../assets/gallery2.jpg);
    grid-column: 2 / span 1;
    background-size: cover;
    background-position: center;
}

.third-gallery {
    background-image: url(../assets/gallery3.jpg);
    grid-column: 3 / span 1;
    background-size: cover;
    background-position: center;
}

.fourth-gallery {
    background-image: url(../assets/gallery4.jpg);
    grid-column: 4 / span 1;
    background-size: cover;
    background-position: center;
}

.fifth-gallery {
    background-image: url(../assets/gallery5.jpg);
    grid-column: 5 / span 1;
    background-size: cover;
    background-position: center;
}

/* 
* MAPS AND LOCATION
*/

.page-location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 65vh;
    color: black;
    background-color: #f7f7f7;
}

.map-img {
    grid-area: 1/2/1/3;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 21em;
    
}
.map-img iframe{
    height: 100%;
}
.center {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* 
* CONTACT
*/

.page-contact {
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: repeat(3, 1fr);
    height: 90vh;
    color: black;
    background-color: white;
}

textarea {
    height: 10em;
    width: 30em;
}

form {
    grid-area: 1/2/1/3;
    line-height: 150%;
}

fieldset {
    width: 100%;
    padding: 1em;
}


/*
* FOOTER
*/

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 10vh;
    color: rgb(238, 237, 237);
    text-align: center;
    padding-top: 1em;
    letter-spacing: 0.5px;
}

.footer ul {
    display: flex;
    list-style: none;
    font-size: 150%;
    justify-content: center;
}

.footer a,
.footer a:visited {
    text-decoration: none;
    padding-right: 1em;
    color: rgb(238, 237, 237);
}

.footer a:hover {
    color: #4267b2;
}

